.file-dropzone {
    position: relative;
    width: 100%;
    height: 15rem;

    border: 3px dashed #d3d3d3;
    border-radius: 5px;
}

.file-dropzone p {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 50%;
    color: #ccc;
}

.file-dropzone.dragenter {
    border-color: #ff7575;
}