.buttons-container {
    display: flex;
    flex-direction: row;
}

.buttons-container .color-button, .winning-square {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.buttons-container .color-button {
    align-self: center;
    margin: 0 5px;
}

#combination-squares div {
    display: inline-block;
}

#winning-combination p {
    margin-bottom: 5px;
}