@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');

* {
    box-sizing: border-box;
}

/*
    Bloc général
*/

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100vh;
}

a {
    color: #f14a17;
    text-decoration: none;
}

/*
     Entête et barre de navigation
 */

header h1 {
    margin: 0;
    padding-top: 65px;
    padding-bottom: 35px;
    text-align: center;
    background-image: linear-gradient(to top, #e26633, #f7c3ab);
    color: white;
}

header nav {
    background-color: #454545;
}

header nav .hamburger{
    display: none;

    margin-left: auto;
    margin-right: auto;
    padding: 15px 0;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

header nav li a {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    transition: background-color 0.4s;
}

header nav li a:hover{
    background-color: #303030;
}

header nav ul li.active{
    background-color: white;
}

header nav ul li.active a {
    color: #f14a17;
}

/*
    Contenu principal
 */
main {
    display: flex;
    padding-bottom: 150px;
    margin: 15px 15px 0 15px;
}

/*
    Articles
 */
article header h2 {
    border-bottom: 1px solid #aaaaaa;
}

article header p {
    text-align: right;
    font-style: italic;
    color: #aaaaaa;
}

#articles {
    flex-basis: 70%;
    flex-grow: 1;
}

aside {
    flex-grow: 2;
    margin-left: 15px;
}

aside div {
    background-color: #fff;
    padding-bottom: 15px;
    box-shadow: 0 0 10px #808080;
}

aside h3 {
    background-color: #e26633;
    margin: 0;
    padding: 5px;
    color: #fff;
}

/*
    Pied de page
 */
footer{
    background-color: #333;
    position: absolute;
    text-align: center;

    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
}

footer img {
    padding: 15px;
}

@media(max-width: 420px)
{
    header nav .hamburger, header nav ul.visible li:not([class="hamburger"]) {
        display: block;
    }

    header nav ul li:not([class="hamburger"]){
        display: none;
    }
    
    header nav ul{
        flex-direction: column;
        padding: 0;
    }

    header nav ul li a {
        width: 100%;
    }

    main {
        flex-direction: column;
    }

    aside {
        margin: 20px 0 0 0;
    }
}

