* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100vh;
}

header h1 {
    margin: 0;
    padding-top: 65px;
    padding-bottom: 35px;
    text-align: center;
    background-color:#693409ed ;
    color: white;

}

header nav {
    background-color: rgb(105, 102, 102);
}
header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

header nav li a {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    transition: background-color 0.4s;
}

header nav li a:hover{
    background-color: #303030;
}

header nav ul li.active{
    background-color: white;
}

header nav ul li.active a {
    color: #000000;
}


body main{
    margin: 0px;
    padding: 30px;
    background-color: rgb(50, 51, 104); 
}

canvas{
  
    cursor: pointer;
  
}
.board{
    display: grid;
    width: 292.72px;
    height: 100%;
    float: left;
}

.pegs{
    display:grid;
    height: 100%;
    width: 20%;
    float: right;
    margin-top: 0px;
}


.buttons-container{

    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.buttons-container .color-button{

    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    align-self: center;
    margin: 0 5px;
    

}
.buttons-container .button {
  

    align-self: center;
    width: 80px;
    height: 40px;
    border: 2px solid white;
    cursor: pointer;
    color: black;
    background-color: chartreuse;
    margin: 0 10px;
}
.boardCell{
    background-color: white;
}
